body{background-color: #633970;
    background-image: radial-gradient(#9057bb 0.5px, #633970 0.5px);
    background-size: 10px 10px;
    background-blend-mode: multiply;
    background-blend-mode: multiply;
    background-blend-mode: multiply;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center top;
	background-attachment:fixed;
    background-size:cover;
    }
.wrapper{max-width:95%; margin: 0 auto;}
h1{margin-left: 12px;
margin-top: 15px;
font-size:36px;
font-family:'Times New Roman', Times, serif;
color:white;
user-select: none;}
h5{margin-left: 10px;
    user-select: none;
    font-size: 17px;}
table{margin-top:30px; color: #fff;}
.display-none{display: none;}
tbody td{text-transform: uppercase;}
.ppp{padding-bottom: 90px;}
footer{
    font-family:serif;
    background-color: #9057bb;
color: white;
}
